* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Roboto';
    color: white;
}

.image {
    padding: 32px;
    text-align: center
}

.informations {
    text-align: center
}

.informations h1 {
    font-size: 50px;
    line-height: 52px;
    font-weight: bold;    
}

.informations h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    margin-top: 10px;    
}

.informations h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    padding: 10px 0px;
}

body img {
    border-radius: 50%;
    border: 5px solid #50FA7B;
    height: 300px;
    width: 300px;
}

footer {
    padding-bottom: 32px;
}

.social-media {
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.social-media a:hover {
    color: #50FA7B;
    transition: color 350ms;
}
